@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using VSHCTwebApp.Data
@using VSHCTwebApp.Components.Layout

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@layout EmptyLayout





<div class="login-row">
    <h1>Регистрация</h1>
    <div class="col-md-4">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <h2>Адрес электронной почты</h2>
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating vshct-form">
                <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="email" class="vshct-form label">Введите адрес электронной почты</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <h2>Фамилия</h2>
            <div class="form-floating vshct-form">
                <InputText @bind-Value="Input.LastName" class="form-control" placeholder="Иванов" />
                <label>Фамилия</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>

            <h2>Имя</h2>
            <div class="form-floating vshct-form">
                <InputText @bind-Value="Input.FirstName" class="form-control" placeholder="Иван" />
                <label>Имя</label>
                <ValidationMessage For="() => Input.FirstName" class="text-danger" />
            </div>

            <h2>Группа</h2>
            <div class="form-floating vshct-form">
                <InputText @bind-Value="Input.Group" class="form-control" placeholder="ГРУППА-123" />
                <label>Группа</label>
                <ValidationMessage For="() => Input.Group" class="text-danger" />
            </div>
            <h2>Пароль</h2>
            <div class="form-floating vshct-form">
                <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="password" class="vshct-form label">Введите пароль</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <h2>Пароль</h2>
            <div class="form-floating vshct-form">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="confirm-password" class="vshct-form label">Повторите пароль</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="register-button">Продолжить</button>
            <div class="login-register">
                <p>
                    <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Login", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Уже зарегистрировались? Войти</a>
                </p>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    public async Task RegisterUser(EditContext editContext)
    {
        var email = Input.Email;
        if (!email.EndsWith("@tyuiu.ru") && !email.EndsWith("@std.tyuiu.ru"))
        {
            return;
        }

        var user = CreateUser();

        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo(
                "Account/RegisterConfirmation",
                new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        }

        await SignInManager.SignInAsync(user, isPersistent: false);
        RedirectManager.RedirectTo(ReturnUrl);
        
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            var user = Activator.CreateInstance<ApplicationUser>();

            // Устанавливаем новые поля из формы регистрации
            user.LastName = Input.LastName;
            user.FirstName = Input.FirstName;
            user.Group = Input.Group;

            return user;
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        [RegularExpression(@"^[^@]+@(tyuiu\.ru|std\.tyuiu\.ru)$", ErrorMessage = "Допустимы только почты @tyuiu.ru или @std.tyuiu.ru")]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "Длина {0} должна быть не менее {2} и не более {1} символов.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "пароля")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "Пароли не совпадают.")]
        public string ConfirmPassword { get; set; } = "";

        [Required]
        [Display(Name = "Фамилия")]
        public string LastName { get; set; } = "";

        [Required]
        [Display(Name = "Имя")]
        public string FirstName { get; set; } = "";

        [Required]
        [Display(Name = "Группа")]
        public string Group { get; set; } = "";
    }
}
