@page "/projects/delete"
@using Microsoft.EntityFrameworkCore
@using VSHCTwebApp.Components.Models
@inject IDbContextFactory<VSHCTwebApp.Data.VSHCTwebAppContext> DbFactory
@inject NavigationManager NavigationManager


<h1>Вы уверены что хотите удалить?</h1>

<div>
    <hr />
    @if (project is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <div class="card shadow-sm p-4 mb-4">
            <!-- Общая карточка с тенью и отступами -->
            <dl class="row">

                <!-- Каждый блок в отдельной строке с отступом -->

                <div class="col-12 mb-3">
                    <dt class="text-primary fw-bold small">Название</dt>
                    <dd class="ms-2 mt-1 fs-5">@project.Title</dd>
                </div>

                <div class="col-12 mb-3">
                    <dt class="text-primary fw-bold small">Проблема:</dt>
                    <dd class="ms-2 mt-1 fs-5">@project.Problem</dd>
                </div>
                <div class="col-12 mb-3">
                    <dt class="text-primary fw-bold small">Предлагаемое решение:</dt>
                    <dd class="ms-2 mt-1 fs-5">@project.Solution</dd>
                </div>
                <div class="col-12 mb-3">
                    <dt class="text-primary fw-bold small">Ожидаемый результат</dt>
                    <dd class="ms-2 mt-1 fs-5">@project.Result</dd>
                </div>
                <div class="col-12 mb-3">
                    <dt class="text-primary fw-bold small">Описание необходимых ресурсов для реализации</dt>
                    <dd class="ms-2 mt-1 fs-5">@project.DescrNeededResurses</dd>
                </div>
                <div class="col-12 mb-3">
                    <dt class="text-primary fw-bold small">Стек технологий</dt>
                    <dd class="ms-2 mt-1 fs-5">@project.StackTech</dd>
                </div>

                <div class="col-12 mb-3">
                    <dt class="text-primary fw-bold small">Кем создано</dt>
                    <dd class="ms-2 mt-1 fs-5">@project.CreatedBy</dd>
                </div>

                <div class="col-12 mb-3">
                    <dt class="text-primary fw-bold small">Кем одобрено</dt>
                    <dd class="ms-2 mt-1 fs-5">@project.ConfermedBy</dd>
                </div>
            </dl>
        </div>
        <EditForm method="post" Model="project" OnValidSubmit="DeleteProject" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(project is null)">Удалить</button> |
            <a href="/projects">Вернуть</a>
        </EditForm>
    }
</div>

@code {
    private Project? project;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        project = await context.Project.FirstOrDefaultAsync(m => m.Id == Id);

        if (project is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteProject()
    {
        using var context = DbFactory.CreateDbContext();
        context.Project.Remove(project!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/projects");
    }
}
